# Ignore OS files
.DS_Store
Thumbs.db

# KiCad 6/7/8/9 build artefacts
**/backup/
**/fpga_project/  # nếu dùng KiCad HDL plugin
*.kicad_sch-bak
*.kicad_pcb-bak
*.dcm
fp-info-cache

# LTspice / Qucs
*.raw
*.log
*.plt
*.net

# Simulation transient files
*.wav
*.vcd
*.ft

# Synth / FPGA tools
/work/
*.rpt
*.jou
*.bit
*.bin
*.svf

# Python cache
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/
